@page "/"
@using Microsoft.EntityFrameworkCore
@inject AcronymContext Context

<PageTitle>Acronyms</PageTitle>

<img src="images/logo.png" class="mx-auto d-block" alt="TIL Logo" />

<h1>Acronyms</h1>

<AcronymsTable acronyms="acronyms"/>

<a href="/edit-acronym">Add an Acronym</a>

@code {

    IQueryable<Acronym> acronyms;

    protected override async Task OnInitializedAsync()
    {
        acronyms = Context.Acronym.Include(a => a.User);
    }

}