@page "/allUsers"
@using Microsoft.EntityFrameworkCore
@inject AcronymContext Context
@attribute [StreamRendering]

<h1>Users</h1>

@if (users.Count == 0)
{
    <p><em>Loading Users ...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Name</td>

                <td>
                    <form method="post" data-enhance
                          @formname="@($"DeleteUserForm{user.Id}")"
                          @onsubmit="() => DeleteUser(user.Id)">
                        <button class="btn btn-danger">
                            Delete
                        </button>
                        <AntiforgeryToken />
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    

}

@code {
    List<User> users = [];

    protected override async Task OnInitializedAsync()
    {
        users = await Context.User.ToListAsync();
    }

    private async Task DeleteUser(string userId)
    {
        
    }

}