@page "/user-details/{Id}"
@using Microsoft.EntityFrameworkCore
@using TILApp.Data
@inject Context DB
@attribute [StreamRendering]

<PageTitle>User Details</PageTitle>

@if (User == null)
{
    <p><em>Loading User ...</em></p>
}
else
{
    <h1>@User.Name</h1>
    <h2>@User.UserName</h2>
    <AcronymsTable Acronyms="acronyms"/>
}

@code {
    [SupplyParameterFromForm] private User? User { get; set; } = new();
    IQueryable<Acronym> acronyms = null!;

    [Parameter] public string Id { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        User = await DB.User.FirstOrDefaultAsync(u => u.Id == Id);
        acronyms = DB.Acronym.Where(a => a.UserId == Id);
    }

}