@page "/Users"
@inject Context DB
@inject NavigationManager NM
@attribute [StreamRendering]

<h1>All Users</h1>

@if (AllUsers is null)
{
    <p>
        <em>There are not any users yet ...</em>
    </p>
}
else
{
    <QuickGrid class="table align-middle custom-row-height"  Items="DB.User">

        <PropertyColumn Property="user => user.UserName"/>
        <PropertyColumn Property="user => user.Name"/>

        
    </QuickGrid>
}

@code {

    public List<User> AllUsers { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        AllUsers = await DB.User.ToListAsync();
    }

    async Task DeleteUser(string id)
    {
        if (await DB.User.FindAsync(id) is { } user &&
            !DB.Acronym.Any(a => a.UserId == user.Id) )
        {
            DB.Remove(user);
            await DB.SaveChangesAsync();
            AllUsers = await DB.User.ToListAsync();
            NM.Refresh();
        }
    }


}